<div class="description-container">
	<div class="title">
		<h1>Zach Temkin &mdash; Designer</h1>
	</div>
	<p>I believe that design is what transforms technological innovations into life-changing products. Design is more than just making aesthetic decisions, it's a process for finding the right problems to solve and determining the best solutions.</p>

	<p>I combine elements from traditional product design with experience in communication design, user interface design and interaction design to create meaningful, user-centered digital and physical products.</p>
</div>