<div class="description-container">
	<div class="title">
		<h1>Zach Temkin &mdash; Designer</h1>
	</div>
	<p>Design turns technological innovations into life-changing products; it's not just making things look pretty, it's a process to follow for making the right things in the right way for the right people.</p>
	<p>I combine elements from traditional product design with experience in communication design, user interface design and user interaction design to create meaningful, user-centered digital products.</p>
</div>