<footer id="footer">
  <div class="inner">
    <div class="about">
      <h4>About me</h4>
      <p>I'm Zach, I'm from Queens, NY and I'm a product designer currently pursuing a dual major in Design Innovation Society and Communication Design at Rensselaer. I believe that design thinking can empower anyone to solve any problem. I love to play guitar, <a href="http://blog.zachtemkin.us"> draw pictures</a> and read weird comics.</p>
    </div>
    <div class="contact">
      <h4>Get in touch</h4>
      <ul>
        <li><span class="ss-send"></span><a href="mailto:zachtemkin@gmail.com">Drop me a line</a></li>
        <li><span class="ss-social-regular ss-twitter"></span><a href="https://twitter.com/zachtemkin">See what I tweet occasionally</a></li>
        <li><span class="ss-file"></span><a href="/resume/zach_temkin.pdf">Here's my resume</a></li>
      </ul>
    </div>
    <div id="instafeed">
      <h4>From the Instagram</h4>
    </div>
  </div>
</footer>