<header>
  <div class="inner">
    <div class="logo-container"><a href="{{baseurl}}/"><img src="{{baseurl}}/assets/img/logo.svg"></a></div>
    <nav class="main-nav">
      <div class="menu-wrapper">
        <div class="menu">
          <div class="bun top-bun"></div>
          <div class="patty"></div>
          <div class="bun bottom-bun"></div>
        </div>
      </div>
      <ul>
        <li><a href="/#work">Work</a></li>
        <li><a href="#footer">contact</a></li>
        <li><a href="http://blog.zachtemkin.us">sketchbook</a></li>
      </ul>
    </nav>
  </div>
</header>