<header>
  <div class="inner">
    <div class="logo-container">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/img/logo.svg' | relative_url }}">
      </a>
    </div>
    <nav class="main-nav" id="main-nav">
      <div class="menu-wrapper" id="menu-wrapper">
        <div class="menu" id="menu">
          <div class="bun top-bun"></div>
          <div class="patty"></div>
          <div class="bun bottom-bun"></div>
        </div>
      </div>
      <ul>
        <li><a href="/#work">Work</a></li>
        <li><a href="#footer">contact</a></li>
        <li><a href="http://blog.zachtemkin.us">sketchbook</a></li>
      </ul>
    </nav>
  </div>
</header>