---
layout: default
---
<div class="description-container">
	<div class="title">
		<h1>Posts by Tag</h1>
		<p>Explore posts by tag</p>
	</div>
</div>

<div class="inner blog-list-page tag-page">
	{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
	
	<h2 id="{{ t | downcase }}">{{ t | downcase }}</h2>
	<ul class="post-list">
	{% for post in posts %}
	  {% if post.tags contains t %}
	  <li class="post-preview post-preview--post-by-tag">
	  	<a href="{{ post.url }}" class="info">
		    <span class="title">{{ post.title }}</span>
		    <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
	  	</a>
	  </li>
	  {% endif %}
	{% endfor %}
	</ul>
	{% endfor %}
</div>