.zt-button {
  @include font(san-serif);
  background-color: $cool-gray-light;
  color: darken($cool-gray-light, 45%);
  font-size: 1.25em;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: .03em;
  line-height: 1.25em;
  padding: 10px 15px 12px;
  text-align: center;
  text-transform: lowercase;
  transition: .3s color ease-in-out;
  vertical-align: middle;

  &:hover {
    color: $transparent;
  }
}

.slide-button {
  display: inline-block;
  overflow: hidden;
  position: relative;

  &--featured {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    background-color: transparent;
    color: $cool-gray-med;
    display: block;
    font-family: 'SSStandard';
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5em;
    padding: 10px 15px 12px;
    position: absolute;
    text-align: center;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
    width: 100%;
  }

  &--left {
    &::after {
      content: '\25c5';
      left: 50%;
      top: 0;
      transform: translateX(0);
    }

    &:hover {
      &::after {
        opacity: 1;
        transform: translateX(-50%);
      }
    }
  }

  &--right {
    &::after {
      content: '\25bb';
      right: 50%;
      top: 0;
    }

    &:hover {
      &::after {
        opacity: 1;
        transform: translateX(50%);
      }
    }
  }

  &--up {
    &::after {
      content: '\f500';
      left: 50%;
      top: 80%;
      transform: translateX(-50%);
    }

    &:hover {
      &::after {
        opacity: 1;
        transform: translateX(-50%) translateY(-70%);
      }
    }
  }

  &--down {
    &::after {
      bottom: 64%;
      content: '\f501';
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover {
      &::after {
        opacity: 1;
        transform: translateX(-50%) translateY(70%);
      }
    }
  }

  &:active {
    background-color: darken($cool-gray-light, 10%);
    &::after {
      opacity: 1;
    }
  }
}
