$ml-red: #f97b77;
$ml-yellow: #d5d48f;
$ml-green: #4dbf90;
$ml-blue: #008cba;

body.journal {
	background-color: #008cba;
	color: $ml-yellow;
}
.wrapper.journal {
	background-color: $ml-green !important;
	.project-container {
		.inner {
			background-color: $ml-yellow;
			// margin-top: 100px;
		}
	}
	footer {
		border-bottom-color: $ml-blue;
	}
}
