.project-list {
  background-color: $zt-purple;
  margin-top: 1.5em;
  overflow: hidden;
}

.project-preview {
  background-color: $white;
  margin: 5px auto 0;
  min-height: 320px;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include breakpoint(screen-sm) {
    border-top: 1px solid $cool-gray-light;
    display: block;
    margin: 0;
    width: 100%;
  }

  &:hover {
    .img-wrapper {
      background-color: lighten($cool-gray-light, 5%);
    }
  }

  .img-wrapper {
    background-color: lighten($cool-gray-light, 5%);
    overflow: hidden;
    transition: background-color .4s ease-in-out;
    width: 100%;

    @include breakpoint(screen-sm) {
      background-color: transparent;
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 50%;
    }

    &.photo {
      img {
        padding: 10px 15px 0;

        @include breakpoint(screen-sm) {
          padding: 2.5em;
        }
      }
    }

    img {
      margin: auto;
      overflow: hidden;
      transition: all .2s ease-in-out;
      z-index: 0;

      @include breakpoint(screen-sm) {
        bottom: 0;
        position: absolute;
        top: 0;
      }
    }
  }

  .info {
    font-size: 90%;
    overflow: hidden;
    padding: 1.25em 1em;
    z-index: 100;

    @include breakpoint(screen-sm) {
      margin-left: 50%;
      width: 45%;
    }
    @include breakpoint(screen-md) {
      font-size: 100%;
    }

    h3 {
      color: $zt-red;
      font-size: 1.5em;
      font-weight: 700;
      letter-spacing: .02em;
      line-height: 100%;
      margin-bottom: .625em;

      @include breakpoint(screen-sm) {
        font-size: 1.5em;
      }
    }

    .brief {
      @include font(serif);
      color: darken($cool-gray-light, 75%);
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: .02em;
      line-height: 150%;
      margin: 0;
    }

    hr {
      border: 0;
      border-top: 1px solid $cool-gray-light;
      margin: .625em 0;
      width: 100%;
    }

    .roles {
      @include font(san-serif);
      color: darken($cool-gray-light, 40%);
      font-size: 1em;
      font-weight: 500;
      margin: 0;
    }

     > .zt-button {
      margin: 1.125em 0;
    }
  }
}
