<footer id="footer">
  <div class="inner">
    <!-- <div class="about">
      <h4>About me</h4>
      <p></p>
    </div> -->
    <!-- <div class="contact">
      <h4>Get in touch</h4>
      <ul>
        <li><span class="ss-send"></span><a href="mailto:zachtemkin@gmail.com">Drop me a line</a></li>
        
        <li><span class="ss-file"></span><a href="{{ '/assets/zach_temkin_resume.pdf' | prepend: site.github.url }}">Here's my resume</a></li>
      </ul>
    </div> -->
    <div class="instafeed" id="instafeed">
      <h4>From the Instagram</h4>
    </div>
  </div>
</footer>