<header>
  <div class="logo-container">
    <a href="{{ '/' | prepend: site.github.url }}">
      <svg class="logo" height="50" viewBox="0 0 179 110"><path d="M0 0v71.078l34.056-30.102 2.73 3.043L0 76.533V110h97.973V47.04L63.918 77.144 61.186 74.1l40.892-36.146V110h44.184V42.09H179V0H0z" fill-rule="evenodd"/></svg>
    </a>
  </div>
  <nav class="main-nav" id="main-nav">
    <ul>
      <li><a href="{{ '/#work' | prepend: site.github.url }}">Work</a></li>
      <li><a href="{{ '/sketchbook' | prepend: site.github.url }}">blog</a></li>
      <li><a href="{{ '/assets/zach_temkin_resume.pdf' | prepend: site.github.url }}">resume</a></li>
    </ul>
  </nav>
</header>