<header>
  <div class="inner">
    <div class="logo-container">
      <a href="{{ '/' | prepend: site.github.url }}">
        <img src="{{ '/assets/img/logo.svg' | prepend: site.github.url }}">
      </a>
    </div>
    <nav class="main-nav" id="main-nav">
      <ul>
        <li><a href="{{ '/#work' | prepend: site.github.url }}">Work</a></li>
        <li><a href="{{ '/sketchbook' | prepend: site.github.url }}">blog</a></li>
        <li><a href="{{ '/assets/zach_temkin_resume.pdf' | prepend: site.github.url }}">resume</a></li>
      </ul>
    </nav>
  </div>
</header>