<div class="description-container">
	<h1 class="title title--home"><span>Zach Temkin</span> Product Designer</h1>
	<p>I'm an experience designer with a knack for coding and a deep understanding of business practices. Currently, a UX designer for IBM Watson IoT. I design clear and delightful experiences that address complex user needs. I communicate design intent through artifacts that range from sketches to code, and work with engineering and offering management to ensure alignment with user needs. </p>
</div>