<div class="description-container">
	<div class="title">
		<h1>Zach Temkin &mdash; Designer</h1>
	</div>
	<p>I believe that design is what transforms technological innovations into life-changing products. Design is more than just making aesthetic decisions, it's a process for finding the right problems to solve and determining the best solutions.</p>

	<p>I'm currently working at <strong>IBM Design</strong> where I design software that connects people with their physical surroundings in meaningful ways on the <strong>Watson Internet of Things</strong> team.</p>
</div>