---
layout: default
---

<div class="project-container project-container--detail-page">
	<a href="{{ '/#work' | relative_url }}" class="back back--top block-link slide slide--prev">Back</a>
  
  <div class="title">
    <h1>{{ page.title }}</h1>
    <p>{{ page.brief }}</p>
  </div>
  
  <div class="project-image project-image--one-up">
    <div class="image-wrapper cdta">
	    <img src="{{ page.img | relative_url }}" alt="{{ page.title }}">
    </div>
  </div>
  
  {{ content }}

  <a href="{{ '/#work' | relative_url }}" class="back back--bottom block-link slide slide--prev">Back</a>
</div>