---
layout: default
---

<div class="project-content">
	{%
    include zt-button.html
    dir = "left"
    text = "home"
    link = "/#work"
    relUrl = true
    featured = true
  %}

  <div class="title">
    <h1>{{ page.title }}</h1>
    <p>{{ page.brief }}</p>
    {% if page.appendix %}
      {% for item in page.appendix %}
        {%
          include zt-button.html
          text = item.text
          link = item.link
          relUrl = item.rel
        %}
      {% endfor %}
    {% endif %}
  </div>
  
  {% 
    include project-image-container.html
    images = page.img
    hasBackground = page.imgBg
  %}

  {{ content }}

  {%
    include zt-button.html
    dir = "left"
    text = "home"
    link = "/#work"
    relUrl = true
    featured = true
  %}
</div>