---
layout: default
---

<div class="project-content">
  {% assign back_url = "#" | append: page.ID %}
  {%
    include zt-button.html
    dir = "up"
    text = "home"
    link = back_url
    relUrl = true
    featured = true
  %}

  <div class="title">
    <h1>{{ page.title }}</h1>
    <p>{{ page.brief }}</p>
    {% if page.appendix %}
      {% for item in page.appendix %}
        {%
          include zt-button.html
          text = item.text
          link = item.link
          relUrl = item.rel
        %}
      {% endfor %}
    {% endif %}
  </div>
  
  {% 
    include project-image-container.html
    images = page.img
    hasBackground = page.imgBg
  %}
   
  {{ content }}
  
  <p>
  {%
    include zt-button.html
    dir = "up"
    text = "home"
    link = back_url
    relUrl = true
    featured = true
  %}
  </p>
  <div class="multi-button-container">
    {% if page.previous.url %}
      {%
        include zt-button.html
        dir = "left"
        text = page.previous.title
        link = page.previous.url
        relUrl = true
      %}
    {% endif %}
    {% if page.next.url %}
      {%
        include zt-button.html
        dir = "right"
        text = page.next.title
        link = page.next.url
        relUrl = true
      %}
    {% endif %}
  </div>
</div>