body {
	height: 100%;
	padding: 5px;
	@include font(primary);
	background-color: #696a89;
	color: #333;
	@include breakpoint(screen-sm) {
		padding: 5px;
	}
	.wrapper {
		width: 100%;
		height: auto;
		overflow: hidden;
		background-color: #fff;
	}
	footer {
		border-bottom: 5px solid #696a89;
	}
}

h1, h2, h3, h4 {
	font-family: inherit;
	color: darken(#eaeaef, 60%);
}

h1 {
	font-weight: 700;
} 

a {
	transition: color .2s;
	text-decoration: none;
}

p {
	color: darken(#eaeaef, 60%);
	line-height: 150% !important;
	> a {
		color: $zt-red;
		&:hover {
			color: darken(#eaeaef, 30%);
		}
	}
}

ul, li {
	list-style: none;
	margin: 0;
}

li {
	> a {
		color: $zt-red;
		&:hover {
			color: darken(#eaeaef, 30%);
		}
	}
}

.block-link {
	padding: 10px 15px 12px;
	margin: 0 15px 15px 15px;
	font-size: 1.25em;
	font-weight: 600;
	line-height: 1.25em;
	text-transform: lowercase;
	font-variant: small-caps;
	letter-spacing: 0.03em;
	vertical-align: middle;
	color: rgba(darken(#eaeaef, 45%),1);
	transition: .3s all ease-in-out;
	background-color: #eaeaef;
	&:hover {
		color: rgba(darken(#eaeaef, 45%),0);
		border-color: transparent;
	}	
}


.slide {
	position: relative;
	display: inline-block;
	overflow: hidden;
	&:after {
		display: block;
		position: absolute;
		width: 100%;
		padding: 10px 15px 12px;
		font-family: "SSStandard";
		font-weight: 700;
		font-size: 1em;
		text-align: center;
		background-color: transparent;
		color: darken(#eaeaef, 55%);
		transition: all .5s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	&.slide--prev {
		&:after {
			content: "\25c5";
			top: 0; left: 100%;
			line-height: 1.5em;
			font-size: 1.0em;
		}
	}
	&.slide--next {
		&:after {
			content: "\25bb";
			left: -125px; top: 0;
			font-size: 1.0em;
			line-height: 1.5em;
			opacity: 0;
		}
	}
	&.slide--up {
		&:after {
			content: "\f500";
			top: 100%; left:0;
			font-size: 1.0em;
			line-height: 1.5em;
		}
	}
	&.slide--down {
		&:after {
			content: "\f501";
			top: -100%; left:0;
			font-size: 1.0em;
			line-height: 1.5em;
		}
	}
	&:hover, &.hover_effect {
		&:after {
			top: 0;
			left: 0;
			opacity: 1;
		}
	}
	&:active {
		&:after {
			background: #444;
			opacity: 1;
		}
	}
}
