$zt-red: #ff6b6b;
$zt-yellow-alt: #ffda75;
$zt-yellow: #f4ab5b;
$zt-green-light: #52afa1;
$zt-green: #226b60;
$zt-blue-light: #4a90e2;
$zt-blue-dark: #002b5c;
$zt-purple: #696a89;
$white: #fff;
$dark-gray: #333;
$med-gray: #6f6f6f;
$cool-gray-light: #eaeaef;
$cool-gray-med: darken($cool-gray-light, 45%);
$cool-gray-dark: darken($cool-gray-light, 60%);
$transparent: rgba($cool-gray-med, 0);
