html, body {
	margin: 0;
	padding: 0;
	background-color: #e7e7e7;
}

.container {
	width: 70%;
}

.flex-row {
	padding: 0;
	margin: 0;
	list-style: none;

	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  
  	-webkit-flex-flow: row wrap;
  	justify-content: flex-start;
}

.cell {
	width: 33.3333%;
}

img {
	max-width: 100%;
}