
/*////////// RESET //////////*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, 
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

section {
    display: inline-block;
    position: relative;
    float: left;
}

body {
    background-image: url("http://zachtemkin.us/resources/bgw.png");
    cursor: crosshair;
}

div, section {
    -webkit-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}


/*////////// CONTAINER //////////*/

.container {
    top: -5px !important;
    width: 836px;
    height: 508px;
}


/*////////// COLOUMN //////////*/

.col {
    width: 182px;
    height: 508px;
}

.col:nth-child(1) {
    width: 112px;
}

.col:nth-child(2) {
    margin-right: 60px;
}

/*////////// VLINE //////////*/

.vline {
    position: absolute; bottom: 0; left: 0;
    background-color: #F85B5E;
}

.vline > div {
    position: relative;
    width: 36px;
    height: 300px;
    background-color: #333;
}

.col:hover .vline > div {
    top: -36px;
}


/*///////// EYE //////////*/

.centered {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
}

.eye {
    width: 182px;
    height: 182px;
    margin-bottom: 30px;
}

.eye .circ {
    width: 110px;
    height: 110px;
    margin: auto;
    border: 36px solid #338bd0;
    border-radius: 200px;
}

.eye .lid {
    width: 110px;
    height: 0px;
    border-top: 55px solid transparent;
    border-bottom: 55px solid #338bd0;
}

.col:hover .eye {
    top: -96px;
    left: 60px;
}

.eye:hover .circ {
    width: 90px;
    height: 90px;
    border: 36px solid #5cbf94;
}

.eye:hover .lid {
    border-top: 30px solid transparent;
    border-bottom: 60px solid #5cbf94;
}

/*////////// LD-TRIANGLE //////////*/

.triangle-ld {
    width: 91px;
    height: 91px;
    border-top: 91px solid transparent;
    border-right: 91px solid transparent;
    margin-bottom: 30px; 
}

.triangle-ld > div {
    position: absolute; top: 0; right: 0%; bottom: 0; left:-100%;
    width: 0; 
    height: 0; 
    border-top: 128.5px solid transparent;
    border-bottom: 128.5px solid transparent; 
    border-right:128.5px solid #e3e3e3; 
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);

    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
}

.col:hover .triangle-ld {
    -webkit-transform: rotate(90deg);
}

.triangle-ld:hover > div {
    border-bottom:  128.5px solid #5cbf94;
}


/*////////// BOW //////////*/

.bow {
    width: 182px;
    height: 84px;
    margin-bottom: 30px;
}

.bow .triangle-r {
    position: absolute; left: 0;
    width: 0; 
    height: 0; 
    border-top: 42px solid transparent;
    border-bottom: 42px solid transparent; 
    border-left: 42px solid #F4AB5B;
}

.bow .circ {
    width: 50px;
    height: 50px;
    margin: auto;
    border: 17px solid #F4AB5B;
    border-radius: 50px;
}

.bow .triangle-l {
    position: absolute; right: 0;
    width: 0; 
    height: 0; 
    border-top: 42px solid transparent;
    border-bottom: 42px solid transparent; 
    border-right: 42px solid #F4AB5B;
}

.col:hover .bow {
    top: -54px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg)
    -ms-transform: rotate(90deg)
    -o-transform: rotate(90deg)
}

.bow:hover .circ {
    width: 60px;
    height: 60px;
    background-color: #F85B5E;
}


/*////////// TRIANGLE-D //////////*/

.triangle-d {
    width: 182px;
    height: 91px;
    margin-bottom: 15px;
}

.triangle-d > div {
    width: 0; 
    height: 0; 
    border-top: 91px solid #e3e3e3;
    border-right: 91px solid transparent; 
    border-left: 91px solid transparent;
}

.col:hover .triangle-d > div {
    top: 72px;
    left: -90px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.triangle-d:hover > div {
    border-right: 91px solid #F85B5E;
}

/*////////// CIRC //////////*/

.circ {
    width: 182px;
    height: 182px;
    margin-bottom: 15px;
}

.circ > div {
    width: 110px;
    height: 110px;
    margin: auto;
    border: 36px solid #F85B5E;
    border-radius: 200px;
}

.col:hover .circ > div {
    top: 120px;
    left: 182px;
}


/*////////// TRIANGLE-U //////////*/

.triangle-u {
    width: 182px;
    height: 91px;
}

.triangle-u > div {
    width: 0; 
    height: 0; 
    border-bottom: 91px solid #e3e3e3;
    border-right: 91px solid transparent; 
    border-left: 91px solid transparent;
}

.col:hover .triangle-u {
    top: -120px;
    left: -60px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.triangle-u:hover > div {
    border-left: 91px solid #5cbf94;
}


/*////////// VLINE //////////*/

.hline {
    margin-top: 184px;
    background-color: #5cbf94;
}

.hline > div {
    position: relative;
    width: 300px;
    height: 36px;
    background-color: #333;
}

.col:hover .hline > div {
    top: -36px;
}




