.zt-button {
  @include font(san-serif);
  background-color: $cool-gray-light;
  color: $cool-gray-med;
  font-size: 1.25em;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: .03em;
  line-height: 1.25em;
  padding: 10px 15px 12px;
  text-align: center;
  text-transform: lowercase;
  vertical-align: middle;
}

.slide-button {
  display: block;
  overflow: hidden;
  position: relative;
  transition: .3s padding .1s cubic-bezier(.215, .61, .355, 1), .2s color .1s ease-in-out;

  @include breakpoint(screen-sm) {
    display: inline-block;
  }

  &::after {
    background-color: transparent;
    color: $transparent;
    display: block;
    font-family: 'SSStandard';
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5em;
    padding: 10px 15px 12px;
    position: absolute;
    text-align: center;
    transition: .3s padding .1s cubic-bezier(.215, .61, .355, 1), .2s color .1s ease-in-out;
    width: 100%;
  }

  &:active {
    background-color: darken($cool-gray-light, 10%);
  }

  &--featured {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
  }

  &--text-button {
    background-color: $transparent;
    color: lighten($cool-gray-dark, 25%);
    padding: 0 15px;

    &::after {
      padding: 0 15px;
    }

    &:active {
      background-color: $transparent;
      color: darken($cool-gray-dark, 30%);
    }

    @include breakpoint(screen-sm) {
      padding: 10px 15px 12px;

      &::after {
        padding: 10px 15px 12px;
      }
    }
  }

  &:hover {
    color: $cool-gray-med;

    &::after {
      color: $cool-gray-med;
    }
  }

  &--left {
    &::after {
      content: '\25c5';
      left: 50%;
      top: 0;
      transform: translateX(calc(-100% + 2.5rem));
    }

    &:hover {
      padding-left: 3rem;

      &::after {
        transform: translateX(calc(-100% + 2.5rem));
      }
    }
  }

  &--right {
    &::after {
      content: '\25bb';
      right: 50%;
      top: 0;
      transform: translateX(calc(100% - 2.5rem));
    }

    &:hover {
      padding-right: 3rem;

      &::after {
        transform: translateX(calc(100% - 2.5rem));
      }
    }
  }

  &--none {
    &:hover {
      text-decoration: underline;
    }
  }
}

.multi-button-container {
  @include content-column;
  margin: 0 auto 1rem;
  text-align: center;

  @include breakpoint(screen-sm) {
    margin: 0 auto .5rem;
  }

  span {
    color: $zt-red;
  }
}