.menu-wrapper {
	display: inline-block;
	margin: 0.5em 0;
	// padding: 11px 13px;
	// border: 1px solid darken(#eaeaef, 10%);
	.menu {
		position: relative;
		width: 38px;
		height: 24px;
		cursor: pointer;
		transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
		.bun {
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: darken(#eaeaef, 10%);
			transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
			&.top-bun {
				top: 0;
			}
			&.bottom-bun {
				bottom: 0;
			}
		}
		.patty {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			margin: auto;
			background-color: darken(#eaeaef, 10%);
			transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
		}
	}
	&.is-clicked {
		border-color: transparent;
		.menu {
			.bun {
				&.top-bun {
					transform-origin: 50% 50%;
					transform: translateY(11px) rotate(-225deg);	
				}
				&.bottom-bun {
					transform-origin: 50% 50%;
					transform: translateY(-11px) rotate(225deg);
				}
			}
			.patty {
				opacity: 0;
			}
		}
	}
}