header {
  @include breakpoint(screen-sm) {
    font-size: 100%;
  }
  
  font-size: 80%;
  overflow: hidden;
  margin: 0 auto 6em;
  max-width: 960px;
  padding-top: 4em;
  width: 90%;

  .logo-container {
    height: 50px;
    margin-bottom: 1.5em;

    .logo {
      fill: $zt-red;
    }
  }

  .main-nav {
    ul {
      display: flex;
      list-style: none;
    }

    li {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
      
      a {
        color: $med-gray;
        display: inline-block;
        font-size: 1.125em;
        font-weight: 400;
        letter-spacing: .03em;
        padding: 0;
        text-transform: uppercase;
        
        &:hover {
          color: $zt-red;
          text-decoration: underline;
        }
      }
    }
  }
}
