header {
  background-color: $white;
  overflow: hidden;
  padding-top: 1.5em;

  @include breakpoint(screen-sm) {
    padding-bottom: .75em;
    padding-top: 3em;
  }

  @include breakpoint(screen-md) {
    padding-bottom: 1.25em;
    padding-top: 3em;
  }

  .logo-container {
    display: block;
    height: 50px;
    margin: 0 auto;
    width: 90%;

    img {
      height: 100%;
      width: auto;
    }

    @include breakpoint(screen-md) {
      width: 100%;
    }
  }

  .main-nav {
    clear: both;
    float: left;
    line-height: 0;
    margin: 1em 0;
    margin-left: 5%;
    position: relative;

    @include breakpoint(screen-md) {
      margin-left: 0;
    }

    ul {
      border: 1px solid $transparent;
      display: block;
      font-size: 80%;
      list-style: none;
      margin: 0;
      overflow: hidden;
      width: 100%;

    }

    li {
      border-bottom: 1px solid $cool-gray-light;
      display: block;

      &:last-child {
        border-bottom: 0;
        margin-right: 0;
      }

      a {
        color: $med-gray;
        display: inline-block;
        font-size: 1.25em;
        font-weight: 500;
        letter-spacing: .03em;
        padding: 10px 0;
        position: relative;
        text-transform: uppercase;

        &:hover {
          color: $zt-red;
        }
      }
    }
  }
}
