@include reset;

* {
  box-sizing: border-box;
}

body {
  background-color: $zt-purple;
  color: $dark-gray;
  height: 100%;
  padding: 5px;
  @include breakpoint(screen-sm) {
    padding: 5px;
  }
}

a {
  color: $zt-red;
  text-decoration: none;
  transition: color .2s;

  &:hover {
    color: darken($cool-gray-light, 30%);
  }
}

p {
  color: darken($cool-gray-light, 60%);
}

ul,
li {
  list-style: none;
  margin: 0;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.wrapper {
  background-color: $white;
  height: auto;
  overflow: hidden;
  width: 100%;
}

.inner {
  @include clearfix;
  margin: 0 auto;
  width: 100%;
  @include breakpoint(screen-md) {
    max-width: 1280px;
    width: 960px;
  }
}