.tag-page {
  @include content-column;
  margin: 0 auto;

  h2 {
    font-size: 2rem;
    font-weight: -700;
  }

  .post-list {
    margin: .5rem 0 0;
  }
}

.post-list {
  background-color: #f8f8fa;
  margin: 1.5rem auto 0;
  max-width: 960px;
  overflow: hidden;
  width: 100%;
}

.post-preview {
  background-color: $white;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  margin-bottom: 1.5rem;
  position: relative;
  width: 100%;

  @include breakpoint(screen-sm) {
    flex-flow: row wrap;
  }

  .content-preview {
    align-items: center;
    background-color: $cool-gray-light;
    display: flex;
    height: 15rem;
    overflow: hidden;
    width: 100%;

    @include breakpoint(screen-sm) {
      width: 60%;
    }

    &:hover {
      // transform: scale(1.1);
    }

    p {
      color: $cool-gray-med;
      font-size: 1.25rem;
      padding: 0 2rem;
      width: 100%;

      @include breakpoint(screen-sm) {
        padding-right: 2rem;
      }
    }

    blockquote {
      margin: 0 2rem;
      padding: 2rem 0;

      &::before {
        left: -1rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    p,
    blockquote {
      align-self: flex-start;

      @include breakpoint(screen-md) {
        align-self: center;
      }
    }

    &-content-wrapper {
      width: 100%;

      > p {
        padding: 0;
      }
    }

    img {
      height: auto;
      max-width: 100%;
    }
  }

  .info {
    background-color: $white;
    font-size: 90%;
    overflow: hidden;
    padding: 1.25em 0 1.25em 1.25em;
    width: 100%;
    z-index: 100;

    @include breakpoint(screen-sm) {
      font-size: 100%;
      width: 40%;
    }

    h3 {
      color: $cool-gray-dark;
      font-size: 1.75em;
      font-weight: 700;
      letter-spacing: .02em;
      line-height: 100%;

      @include breakpoint(screen-sm) {
        font-size: 1.5em;
      }
    }

    .date {
      @include font(san-serif);
      color: darken($cool-gray-light, 75%);
      font-size: .875em;
      font-weight: 700;
      margin: 0;
      max-width: 50%;
      padding-top: .5rem;
      text-transform: uppercase;
    }

    .tags {
      display: flex;
      justify-content: left;
      margin-bottom: 1em;
      margin-top: 1em;
    }

    .tag {
      border: 1px solid $cool-gray-light;
      color: $cool-gray-med;
      padding: .25rem .5rem;

      &:not(:last-child) {
        margin-right: .25rem;
      }

      a {
        color: $cool-gray-med;
      }

      &:hover {
        a {
          color: $zt-red;
        }
      }
    }
  }

  &--post-by-tag {
    .info {
      padding: .5rem 0;
      width: 100%;

      .title {
        font-size: 1.25rem;
        margin-right: .25rem;
        text-transform: capitalize;
      }

      .date {
        border: 0;
        color: $cool-gray-med;
      }

      &:hover {
        .date {
          color: $cool-gray-dark;
        }
      }
    }
  }

  .zt-button {
    @include breakpoint(screen-sm) {
      bottom: 0;
      position: absolute;
    }
    
    padding-left: 0;
  }
}
