.project-image-block {
  @include content-column;
  display: block;
  margin: 2rem auto;
  overflow: hidden;

  &--featured {
    @include breakpoint(screen-sm) {
      max-width: 90%;
      width: 960px;
    }
  }

  &--side-caption {
    @include breakpoint(screen-md) {
      display: flex;

      .images {
        width: 75%;
      }

      .caption {
        border-left: 0;
        border-top: 3px solid $zt-red;
        margin-left: .5rem;
        margin-top: 0;
        width: 25%;

        p {
          padding: .5rem 0 0 .25rem;
          width: 100%;
        }
      }
    }
  }
}

.images {
  text-align: center;

  @include breakpoint(screen-sm) {
    align-items: flex-end;
    display: flex;
  }

  .image-wrapper {
    text-align: center;
    width: 100%;

    &.border {
      border: 1px solid $cool-gray-light;
    }

    &:not(:last-child) {
      margin-bottom: .25rem;
      margin-right: 0;

      @include breakpoint(screen-sm) {
        margin-bottom: 0;
        margin-right: .25rem;
      }
    }
  }

  &--has-background {
    background-color: $zt-blue-light;

    .image-wrapper {
      border: 0;
    }
  }
}

.caption {
  border-left: 3px solid $zt-red;
  display: block;
  margin: .5rem auto 0;

  p {
    @include breakpoint(screen-sm) {
      width: 75%;
    }

    @include font(san-serif);
    color: darken($cool-gray-light, 30%);
    font-size: 1rem;
    line-height: 1.7;
    margin: 0;
    padding: .5rem 0 0 1rem;
    width: 100%;
  }
}
