.title {
  &--home {
    margin: 1.5em 0 .625em;
    text-align: left; 
  }

  @include content-column;
  margin: 3.5em auto;
  text-align: center;

  h1 {
    // border-bottom: 2px solid $zt-red;
    display: inline-block;

    @include breakpoint(screen-sm) {
      // width: 70%;
    }
  }

  > p {
    @include font(secondary);
    font-size: 1em;
    font-style: italic;
    margin: 0 auto .875em;
    text-align: center;
    width: 85%;

    @include breakpoint(screen-sm) {
      width: 70%;
    }
  }
}
