.project-list {
  margin: 0 auto 4em;
  max-width: 960px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.project-preview {
  @include breakpoint(screen-sm) {
    font-size: 100%;
    height: 320px;
  }
  
  display: flex;
  flex-flow: column nowrap;
  font-size: 85%;
  margin-bottom: 1.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  .img-wrapper {
    @include breakpoint(screen-sm) {
      bottom: 0;
      left: 22.75rem;
      max-height: 320px;
      position: absolute;
      top: 0;
      width: calc(100% - 22.75em);
    }
    
    align-items: center;
    background-color: $cool-gray-dark;
    display: flex;
    justify-content: center;
    max-height: 280px;
    overflow: hidden;
    width: 100%;

    &:hover {
      img {
        // transform: scale(1.1);
      }
    }

    img {
      max-height: none;
      max-width: 480px;
      height: auto;
      transform: scale(1);
      transition: .2s transform ease-in-out;
      width: 100%;
    }

    &--photo-img {
      img {
        @include breakpoint(screen-sm) {
          height: 100%;
          max-width: none;
          width: auto;
        }

        @include breakpoint(screen-md) {
          height: auto;
          max-width: none;
          width: 100%;
        }

        height: auto;
        max-width: none;
        width: 100%;
      }
    }
  }

  .info {
    @include breakpoint(screen-sm) {
      min-height: 320px;
      width: 22.75rem;
    }

    background-color: $white;
    overflow: hidden;
    padding: 1.5rem;
    z-index: 100;

    h3 {
      font-size: 1.75em;
      font-weight: 700;
      letter-spacing: .02em;
      line-height: 2rem;
      margin-bottom: .5em;
    }

    .roles {
      @include font(san-serif);
      color: $cool-gray-dark;
      font-size: .875em;
      font-weight: 700;
      line-height: 1.25em;
      margin: 0 0 1.3125em;
      max-width: 85%;
    }
    
    .brief {
      @include font(serif);
      color: darken($cool-gray-light, 40%);
      font-size: 1em;
      font-weight: 500;
      letter-spacing: .02em;
      line-height: 150%;
      margin: 0 0 1em;
    }

     > .zt-button {
      @include breakpoint(screen-sm) {
        bottom: .25em;
        position: absolute;
      }
      
      font-size: 1.5em;
      padding-left: 0;
      text-align: left;
    }
  }
}
