.project {
	position: relative;
	width: 100%;
	min-height: 320px;
	margin: 5px auto 0px auto;
	// padding: 5px;
	background-color: #fff;
	overflow: hidden;
	@include breakpoint(screen-sm) {
		display: block;
		width: 100%;
		margin: 0;
		border-top: 1px solid #eaeaef;
		border-bottom: none;
	}
	&:hover {
		.img-wrapper {
			background-color: #fafafa;
		}
	}
	.img-wrapper {
		width: 100%;
		float: none;
		background-color: #fafafa;
		overflow: hidden;
		transition: background-color .4s ease-in-out;
		@include breakpoint(screen-sm) {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 50%;
			background-color: transparent;
		}
		&.photo {
			img {
				padding: 10px 15px 0px;
				@include breakpoint(screen-sm) {
					padding: 2.5em;
				}
			}
		}
		img {
			max-width: 100%;
			height: auto;
			margin: auto;
			z-index: 0;
			overflow: hidden;
			transition: all .2s ease-in-out;
			@include breakpoint(screen-sm) {
				position: absolute;
				top: 0;
				bottom: 0;
			}
		}		
	}
	.info {
		height: auto;
		padding: 1.25em 1em;
		font-size: 90%;
		overflow: hidden;
		z-index: 100;
		@include breakpoint(screen-sm) {
			width: 45%;
			margin-left: 50%;
			float: none;
			font-size: 90%;
		}
		@include breakpoint(screen-md) {
			font-size: 100%;
		}

		h3 {
			margin-bottom: 0.625em;
			font-size: 1.5em;
			font-weight: 700;
			line-height: 100%;
			letter-spacing: 0.02em;
			color: $zt-red;
			@include breakpoint(screen-sm) {
				font-size: 1.5em;
			}
		}

		.brief {
			@include font(secondary);
			display: block;
			margin: 0;
			font-weight: 500;
			font-size: 1em;
			line-height: 150%;
			letter-spacing: 0.02em;
			color: darken(#eaeaef, 75%);
		}

		hr {
			width: 100%;
			margin: 0.625em 0;
			border: 0;
			border-top: 1px solid #eaeaef ;
		}
		
		.roles {
			@include font(primary);
			margin: 0;
			font-weight: 500;
			font-size: 1em;
			color: darken(#eaeaec, 40%);
		}
					
		.zt-button-link {
			width: 100%;
			padding: 10px 15px 12px;
			margin: 1.125em 0;
			font-size: 1.25em;
			font-weight: 600;
			line-height: 1.25em;
			text-transform: lowercase;
			text-align: center;
			font-variant: small-caps;
			letter-spacing: 0.03em;
			vertical-align: middle;
			color: rgba(darken(#eaeaef, 45%),1);
			transition: .3s all ease-in-out;
			background-color: #eaeaef;
			&:hover {
				color: rgba(darken(#eaeaef, 45%),0);
				border-color: transparent;
			}
			@include breakpoint(screen-sm) {
				width: auto;
				text-align: left;
			}
		}
	}
}
