.project-container--detail-page {
  position: relative;
  margin-bottom: 3em;
  padding-bottom: 3em;
  background-color: #fff;

  .back {
    position: absolute;
    left: 0;
    right: 0;
    width: 75px;
    margin: 0 auto;
    text-align: center;

    &.back--top {
      top: 0;
    }

    &.back--bottom {
      bottom: 0;
      margin-top: 3em;
    }
  }

  .title {
    max-width: 90%;
    margin: 3.5em auto 1.5em;
    text-align: center;
    @include breakpoint(screen-sm) {
      max-width: 700px;
    }

    h1 {
      width: 70%;
      display: inline-block;
      margin-bottom: .25em;
      padding-bottom: .25em;
      border-bottom: 2px solid $zt-red;
      font-weight: 700;
      text-align: center;
      line-height: 100%;
      @include breakpoint(screen-sm) {
        width: auto;
        font-size: 2.75em;
      }
    }
    > p {
      @include font(secondary);
      width: 85%;
      margin: 0 auto .875em;
      font-size: 1em;
      font-style: italic;
      text-align: center;
      @include breakpoint(screen-sm) {
        width: 70%;
      }
    }
  }

  h2 {
    max-width: 90%;
    margin: 0 auto .5em;
    font-size: 2em;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: $zt-red;
    @include breakpoint(screen-sm) {
      max-width: 700px;
    }
  }

  h3 {
    max-width: 90%;
    margin: 0 auto 0.25em;
    color: darken(#eaeaef, 40%);
    font-size: 1.5em;
    font-weight: 700;
    @include breakpoint(screen-sm) {
      max-width: 700px;
    }
  }

  p {
    @include font(secondary);
    max-width: 90%;
    margin: 0 auto 1.25em;
    @include breakpoint(screen-sm) {
      max-width: 700px;
      font-size: 1.125em;
      line-height: 2em !important;
    }
  }

  blockquote {
    position: relative;
    max-width: 90%;
    margin: 1.5em auto;
    padding: 1.5em 3.5em;
    border: none;
    background-color: #eaeaef;

    > p {
      @include font(primary);
      font-size: 1.25em;
      font-style: italic;
      line-height: 1.6 !important;
      margin: 0;
    }

    &:before {
      @include font(secondary);
      content: "\201c";
      position: absolute;
      top: 50%;
      left: 0.5em;
      font-size: 2.5em;
      color: $zt-red;
    }
    &:after {
      @include font(secondary);
      content: "\201d";
      position: absolute;
      top: 50%;
      right: 0.5em;
      font-size: 2.5em;
      color: $zt-red;
    }
    @include breakpoint(screen-sm) {
      max-width: 700px;
    }
  }
}